:root {
  background-color: #252523;
  padding: 3em;
}

.App {
  text-align: center;
  background: #fff6f3;
  color: 0e1829;
}

.App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


